*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*this is just to style the entire page */
    color: #39a6b2;
    font-family: Arial, Helvetica, sans-serif;
}

/* its time for header styles woo! */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

/* this element only works here not in "header h1 a" while 'color' and 'font weight' don't work in "header h1"*/
header h1 {
    display: inline;
}

/* if this is specified in the outlined corse work then the header h1 would only read half the styles */
header h1 a {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;

}

/* if yall are going to use text decoration on this maybe just PUT IT BEFORE AN IMAGE USING IT made me worry i did something wrong */
header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* footer properties to give the site more flare.*/
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}